@page "/stage"
@using OdysejaAdmin.Data
@using System.Text.Json
@inject RestService RestService

<select @onchange="DropDownChanged" class="select">
    @foreach (var template in _cities)
    {
        <option value=@template.id>@template.name</option>
    }
</select>

<table class="table">
    <thead>
    <tr>
        <th><abbr>Numer sceny</abbr></th>
        <th><abbr>Nazwa sceny</abbr></th>
        <th><abbr>Del</abbr></th>
    </tr>
    </thead>
    <tbody>
        @foreach (var s in _stages)
        {
            <StageComponent Stage="@s"/>
        }
    </tbody>
</table>

@code
{
    private int _selectedCity = 0;
    private List<IdNameModel> _cities = new List<IdNameModel>();
    private List<StageModel> _stages = new List<StageModel>();

    protected override async void OnInitialized()
    {
        var cities = await RestService.Get("/city");
        _cities = JsonSerializer.Deserialize<List<IdNameModel>>(cities);
        var stages = await RestService.Get("/stage/0");
        _stages = JsonSerializer.Deserialize<List<StageModel>>(stages);
        StateHasChanged();
    }

    async void DropDownChanged(ChangeEventArgs e)
    {
        var stages = await RestService.Get($"/stage/{e.Value}");
        _stages = JsonSerializer.Deserialize<List<StageModel>>(stages);
        StateHasChanged();
    }
}