@using OdysejaAdmin.Data
@inject RestService RestService
@inject NavigationManager _navManager

<tr>
    <td>@Info.sortNumber</td>
    <td>@Info.infoName</td>
    <td>@Info.categoryName</td>
    <td>
        <button class="button alert-danger"
                @onclick="Delete">
            Usuń
        </button>
    </td>
    <td>
        <button class="button alert-danger"
                @onclick="Edit">
            Edytuj
        </button>
    </td>
</tr>


@code
{
    private bool editMode;

    [Parameter]
    public Info Info { get; set; }

    [Parameter]
    public string EndPoint { get; set; }

    [Parameter]
    public EventCallback OnUpdate { get; set; }

    private async void Delete()
    {
        await RestService.Delete(EndPoint, Info.id.ToString());
        await OnUpdate.InvokeAsync();
    }
    
    private async void Edit()
    {
        _navManager.NavigateTo("/info/" + Info.id);
    }
}