@implements IDisposable
@inject AuthenticationService AuthenticationService
@inject UserStore UserStore
@inject Blazored.LocalStorage.ILocalStorageService localStorage

<Router AppAssembly="@typeof(Program).Assembly">
    <Found Context="routeData">
        @if (isAuth)
        {
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)"/>   
        }
        else
        {
            <Login/>
        }
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code
{
    private bool isAuth { get; set; }
    
    protected override void OnInitialized()
    {
        base.OnInitialized();
        CheckAuth();
        UserStore.AddStateListeners(CheckAuth);
    }
    
    public void Dispose()
    {
        UserStore.RemoveStateListeners(StateHasChanged);
    }

    async void CheckAuth()
    {
        isAuth = await localStorage.GetItemAsync<bool>("auth");
        StateHasChanged();
    }
}
