<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">OdysejaAdmin</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="timeTable">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Harmonogram
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="age">
                <span class="oi oi-person" aria-hidden="true"></span> Grupy wiekowe
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="problem">
                <span class="oi oi-lightbulb" aria-hidden="true"></span> Problemy
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="stage">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Sceny
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="sponsor">
                <span class="oi oi-grid-two-up" aria-hidden="true"></span> Sponsorzy
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}